body{

    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    
}

title{
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

label{

    width: 500px;
    height:200px;
    position: relative;
    display: block;
    background: white;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgb(0,0,0,0.4), inset 0px -5px 15px rgb(255,255,255,0.4);
    cursor:  pointer;
    transition: 1.2s;
}

label:after{
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top:10px;
    left:10px;
    background: linear-gradient(180deg, #ffcc89, #f9be66);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 1.2;

}

input{
    width: 0;
    height: 0;;
    visibility: hidden;
}

input:checked + label{

    background:black;
}


input:checked + label:after{

left: 490px;
transform: translateX(-100%);
background: linear-gradient(180deg, #777, #3a3a3a);
}