body {
  margin: 0;
  font-family: sans-serif;
}

.landing {
  height: 100vh;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2rem;
}

.landing h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content {
  background: white;
  padding: 20vh 10vw;
}

.panel {
  margin-bottom: 30vh;
}

.animated-element {
  width: 300px;
  padding: 2rem;
  background: black;
  color: white;
}
